<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1> <% name %>'s Tweet Index Page</h1>
    <nav>

        <a href="/users/new">Create a New User</a>
    </nav>


    <ul>
        <% for( let index = 0; index < users.length; index++){ %>
        <li>
            <a href="/users/<%= users[index._id] %> "> <% users[index].tweetText %>

            </a>
        </li>

        <% } %>
    </ul>
</body>

</html>