<h1>Create a New User</h1>

<form action="/users/" method="POST">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" />
    </div>
    <input type="submit" value="Add User">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>